<div class="row">
    <div class="col mt-3">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" cellpadding="0" id="tabla">
                <thead>
                    <tr>
                        <th>Rol</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/DataTable/tabla.js"></script>
}